
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}




body{
    width:100%;
    height:100%;
}



img.logo{
    width:100px;
    height: 70px;


}

juego1{
    display:flex;
    flex-direction:wrap;
}
section.general{
    width:50%;
    height: 600px;
    
}

article{
    width:50%;
    background-color: red;

}

section.game {
    background-color:rgb(228, 228, 228);
    width:100%;
    margin-bottom:50px;
    display:flex;
    flex-direction:row;
    border-radius:40px;
    
    
}

div.button{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

section.instructions {
    color:black;
    text-align: center;
    font-size:1.5rem;
    padding:30px;
}



img.keys {
    width:130px;
    height:100px;
}

canvas {
    width:800px;
    height:100%;
    border-radius: 40px; 
}
button.btn1{
    
    width:150px;  
    height: 50px;
    font-size:2em;
    border: none;
    margin-top:10px;
    border-radius: 30px;
    background: linear-gradient(145deg, #c95bfd, #a94dd4);
    box-shadow:  5px 5px 10px #ba54ea,
                -5px -5px 10px #be56ee;
    color:white;
    cursor: pointer;
    outline: none;
}
button:hover{
    transform: scale(1.1);
}


/* section.gameTwo{
    display:
} */





div.container{
    width:50%;
    height: 700px;
    position: absolute;
    background-image:url(./ideas/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border:5px solid blue;
   
    
}

div.instructions {
    color:white;
    font-size:2em;
    background-color: black;
    width:100%;
}



div.score{
    font-size: 140px;
    font-weight:bold;
    color:rgb(38, 7, 73);
    position: absolute;
    top:2%;
    left:10%;
    transform: translate(-50%, -50%);
    width:200px;
    height:100px;
    text-align: center;
}


div.counter{
position:absolute;
top: 100px;
width:100%;
font-size:50px;
color:rgb(38, 7, 73);
text-align:center;
font-weight: bold;

}

button.btn{
    position:absolute;
    top:200px;
    left:10%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    border-radius:30px;
    z-index:200;
    cursor: pointer;
    border:none;
    outline: none;
    background-color: #a94dd4;

}

div.game{
    width:600px;
    height: 400px;
    margin: 70px auto;
    z-index:200;
    display:flex;
    flex-wrap: wrap;
}

div.rock{
    flex: 1 0 33.33%;
    position: relative;
    overflow: hidden;

}

div.rock:after{
    content: "";
    display: block;
    background-image: url(./ideas/piedra.png);
    background-size: contain;
    position:absolute;
    width:100%;
    height: 70px;
    z-index:2;
    bottom: -30px;

}

div.place{

    background-image: url(./ideas/bugsFace.png);
    position:absolute;
    top:100%;
    width:100%;
    height: 100%;
    transition:0.4s;
    background-repeat:no-repeat;
    background-position: bottom;
}

div.place.small{
background-size: 50%;
}

div.place.large{
    background-size: 80%;
}

.rock.up .place {
    top:0;
}
