
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,100;1,200;1,300&family=IBM+Plex+Serif&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'IBM Plex Serif', serif;
}




body{
    width:100%;
    height:100%;
    
}

img.redes{
    margin-left:5px;
    width:50px;

}



img.logo{
    width:100px;
    height: 70px;
}

div.juego1{
    display:flex;
    flex-direction:wrap;
    margin-bottom:200px;
    margin-top:5px;
    
}

section.general{
    width:50%;
    height: 495px;
    margin-bottom: 200px;
    
   
    
}

article.one{
    width:50%;
    height: 495px;
    margin-bottom: 200px;
    display:flex;
    flex-direction: column;
    text-align: center;
}



div.datos{
    width:100%;
    float:right;
    padding:10px;
}

h2{
    color:red;
    text-align: center;
}

li{
    font-size:1.5rem;
    line-height: 40px;
    text-align: left;
}



img.photo-1 {
    padding-top:10px;
    width:600px;
}

section.game {
   
   
    width:100%;
    margin-bottom:100px;
    display:flex;
    flex-direction:row;
    
    
}

div.button{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

section.instructions {
    color:black;
    font-weight: bold;
    text-align: center;
    font-size:1.3rem;
    padding:10px;
}



img.keys {
    width:130px;
    height:100px;
}

canvas {
    width:600px;
    height:100%;
    border-radius: 40px; 
}
button.btn1{
    
    width:150px;  
    height: 50px;
    font-size:2em;
    border: none;
    margin-top:10px;
    border-radius: 30px;
    background: linear-gradient(145deg, #c95bfd, #a94dd4);
    box-shadow:  5px 5px 10px #ba54ea,
                -5px -5px 10px #be56ee;
    color:white;
    cursor: pointer;
    outline: none;
}
button:hover{
    transform: scale(1.1);
}




/* <-------------------------------------------------------JUGO 2 ------------------------------------------------------->  */

section.gameTwo{
    width:50%;
    height:700px;
    float: right;
}

section.info{
    float: right;
    width:50%;
    height:700px;
}

div.container{
    width:50%;
    height: 700px;
    position: absolute;
    background-image:url(./ideas/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 40px; 
 
   
    
}

div.instructions {
    color:white;
    font-size:2em;
    background-color: black;
    width:100%;
}

div.info{
    width:100%;
    
}

p.info {
    text-align: justify;
    padding:10px 40px;
    font-size:1.2rem;
    line-height: 20px;
}

span{
    color:black;
    font-weight: bold;
}
img.photo-2{
position:absolute;
left:150px;
}



div.score{
    font-size: 140px;
    font-weight:bold;
    color:rgb(38, 7, 73);
    position: absolute;
    top:2%;
    left:10%;
    transform: translate(-50%, -50%);
    width:200px;
    height:100px;
    text-align: center;
}


div.counter{
position:absolute;
top: 100px;
width:100%;
font-size:50px;
color:rgb(38, 7, 73);
text-align:center;
font-weight: bold;


}

button.btn{
    position:absolute;
    top:200px;
    left:10%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    border-radius:30px;
    z-index:200;
    cursor: pointer;
    border:none;
    outline: none;
    background-color: #a94dd4;

}

div.game{
    width:600px;
    height: 400px;
    margin: 70px auto;
    z-index:200;
    display:flex;
    flex-wrap: wrap;
}

div.rock{
    flex: 1 0 33.33%;
    position: relative;
    overflow: hidden;

}

div.rock:after{
    content: "";
    display: block;
    background-image: url(./ideas/piedra.png);
    background-size: contain;
    position:absolute;
    width:100%;
    height: 70px;
    z-index:2;
    bottom: -30px;

}

div.place{

    background-image: url(./ideas/bugsFace.png);
    position:absolute;
    top:100%;
    width:100%;
    height: 100%;
    transition:0.4s;
    background-repeat:no-repeat;
    background-position: bottom;
}

div.place.small{
background-size: 50%;
}

div.place.large{
    background-size: 80%;
}

.rock.up .place {
    top:0;
}
